stages:
  - build
  - test
  - deploy

build_job:
  stage: build
  tags:
    - aws 
  script:
    - echo $CI_JOB_NAME
unit_job:
  stage: test
  tags:
    - aws
  script:
    - echo $CI_JOB_NAME
list_job:
  tags:
    - aws
  stage: test
  script:
    - echo $CI_JOB_NAME
  when: always
deploy_job:
  when: manual
  stage: deploy
  tags:
    - aws
  script:
    - echo $CI_JOB_NAME
     
