default:
  image: registry.gitlab.com/opusdv/liblogur/cmake
  tags: 
    - aws

variables:
  CMAKE_VERSION: "3.22"
  VERSION: "0.0.1"

stages:
  - build
  - upload
  - release

build_bin_job:
  stage: build 
  script:
    - echo $CI_JOB_NAME
    - mkdir build
    - cd build
    - cmake ..
    - make
    - cpack
    - ls -l 
  artifacts:
    paths:
      - build/liblogur-0.0.1-1-$CI_PIPELINE_ID.rpm
    expire_in: 1 week

upload_job:
  image: curlimages/curl:latest
  stage: upload
  needs: 
    - job: build_bin_job
      artifacts: true
  script:
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file build/liblogur-0.0.1-1-$CI_PIPELINE_ID.rpm "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/my_package/0.0.1/liblogur-0.0.1-1.rpm"'

release_job:
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  stage: release
  rules:
    - if: $CI_COMMIT_TAG
  script:
    - echo "CREATE RELEASE"
  release:
    name: "Release $CI_COMMIT_TAG"
    description: 'Created using the release-cli $EXTRA_DESCRIPTION'
    tag_name: $CI_COMMIT_TAG
    ref: $CI_COMMIT_TAG
    milestones:
      - 'm1'
      - 'm2'
      - 'm3'
