default:
  image: registry.gitlab.com/opusdv/liblogur/cmake
  tags: 
    - aws

variable:
  CMAKE_VERSION: 3.22
stages:
  - build
  - upload

build_bin_job:
  stage: build 
  script:
    - echo $CI_JOB_NAME
    - mkdir build
    - cd build
    - cmake ..
    - make
    - cpack
    - ls -l 
  artifacts:
    paths:
      - build/liblogur-0.0.1-1.rpm
    expire_in: 1 week

upload_job:
  image: curlimages/curl:latest
  stage: upload
  needs: ["build_bin_job"]
  script:
    - 'curl --header "JOB-TOKEN: $CI_JOB_TOKEN" --upload-file build/liblogur-0.0.1-1.rpm "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/my_package/0.0.1/liblogur-0.0.1-1.rpm"'
  only:
    - merge_requests
