default:
  image: registry.gitlab.com/opusdv/liblogur/cmake
  tags: 
    - aws
stages:
  - build
  - upload

build_bin_job:
  stage: build 
  script:
    - echo $CI_JOB_NAME
    - mkdir build
    - cd build
    - cmake ..
    - make
    - cpack

upload_job:
  stage: upload
  needs: ["build_bin_job"]
  script:
    - ls -l
